<% include ../partials/header %>

<div class="casino" style="display:block;">
        <div class="ui grid centered">
            <div class="twelve wide column">
                <div class="ui list">
<% if(currentUser) { %>
                    <!-- player item template -->
                    <div class="player item">
                        <img class="ui avatar image" src="<%= currentUser.avatar%>" alt="avatar">
                        <div class="content">
                            <div class="header"><b class="name"><%= currentUser.name%></b></div>
                            <div class="description event"></div>
                            <%= currentUser.event%>
                        </div>
                    </div>
                    <!-- end player item template -->

                </div>
                
                <div class="logout ui left floated secondary button inverted">
                                        
					<i class="left chevron icon"></i><a href="/logout">Logout</a>
                </div>    
                    
                    <% } else { %>
                    <% } %>                   
				
            </div>
            <div class="four wide column">
                <div class="search ui small icon input ">
                    <input type="text" placeholder="Search Game">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
        <div class="ui grid">
            <div class="twelve wide column">
                <h3 class="ui dividing header">Games</h3>

                <div class="ui relaxed divided game items links">
<% blogs.forEach(function(blog){ %>
                    <!-- game item template -->
                    <div class="game item">
                        <div class="ui small image">
                            <img src="<%= blog.icon %>" alt="game-icon">
                        </div>
                        <div class="content">
                            <div class="header"><b class="name"><%= blog.name %></b></div>
                            <div class="description">
                                <%= blog.description %>
                            </div>
                            <div class="extra">
                               <div class="play ui right floated secondary button inverted">
                                    <a href="/blogs/<%= blog._id %>">Info</a>                                    
                                    <i class="right chevron icon"></i>
                                </div>
                                <div class="play ui right floated secondary button inverted">
                                    <a href="<%= blog.game%>" target="_blank">Play</a>                                    
                                    <i class="right chevron icon"></i>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <!-- end game item template -->
    <% }); %>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui dividing header">Categories</h3>

                <div class="ui selection animated list category items">

                    <!-- category item template -->
                    <div class="category item">
                        <div class="content">
                            <div class="header"></div>
                        </div>
                    </div>
                    <!-- end category item template -->

                </div>
            </div>
        </div>

    </div>
    <div class="ingame" style="display: none;">
        <div class="ui grid centered">
            <div class="three wide column">
                <div class="ui right floated secondary button inverted"><i class="left chevron icon"></i>Back
                </div>
            </div>
            <div class="ten wide column">
                <div id="game-launch">
                </div>
            </div>
            <div class="three wide column"></div>
        </div>
    </div>

<% include ../partials/footer %>