<% include ../partials/header %>

    <div class="ingame" style="display: block;">
        <div class="ui grid centered">
            <div class="three wide column">
                <div class="ui right floated secondary button inverted"><i class="left chevron icon"></i>
                    <a href="/blogs">Back</a>                                        
                    <h4><a href="https://comeon-static-test.casinomodule.com/games/starburst_mobile_html/game/starburst_mobile_html.xhtml?server=https%3A%2F%2Fcomeon-game-test.casinomodule.com%2F&lang=sv&sessId=DEMO-41e133d5237c402-EUR&gameId=starburst_not_mobile_sw&operatorId=default&staticsharedurl=http%3A%2F%2Fstatic-shared.casinomodule.com%2Fgameclient_html%2Fdevicedetection%2Fcurrent" target="_blank"><%=blog.name%></a></h4> 
                    <p><a href="https://comeon-static-test.casinomodule.com/games/starburst_mobile_html/game/starburst_mobile_html.xhtml?server=https%3A%2F%2Fcomeon-game-test.casinomodule.com%2F&lang=sv&sessId=DEMO-41e133d5237c402-EUR&gameId=starburst_not_mobile_sw&operatorId=default&staticsharedurl=http%3A%2F%2Fstatic-shared.casinomodule.com%2Fgameclient_html%2Fdevicedetection%2Fcurrent" target="_blank"><%=blog.description%></a></p>
                </div>
            </div>
            <div class="ten wide column">
                <div id="game-launch">                    
                </div>
            </div>
            <div class="three wide column"></div>
        </div>
    </div>
                
            
            <hr>
            <% blog.comments.forEach(function(comment){ %>            
                    <strong><%= comment.author %></strong>                    
                    <p><%= comment.text %></p>                
            <% }) %>
<a href="/blogs">Go Back</a><br />
<a href="/blogs/<%= blog._id %>/comments/new">Add New Comment</a>
        
<% include ../partials/footer %>