<% include ../partials/header %>

    <div class="ingame" style="display: block;">
        <div class="ui grid centered">
            <div class="three wide column">
                <div class="ui right floated secondary button inverted"><i class="left chevron icon"></i>
                    <a href="/blogs">Back</a>
                </div>
            </div>
            <div class="ten wide column">
                <div id="game-launch">
                    <h4><a href="<%= blog.game%>" target="_blank"><%=blog.name%></a></h4>
                    <p><a href="<%= blog.game%>" target="_blank"><%=blog.description%></a></p>
                    <a href="/blogs/<%= blog._id %>/comments/new">Add New Comment</a>
                    <hr>
                    <% blog.comments.forEach(function(comment){ %>
                    <strong><%= comment.author %></strong>
                    <p><%= comment.text %></p>
                    <% }) %>
                </div>
            </div>
            <div class="three wide column"></div>
        </div>
    </div>
                                    
<% include ../partials/footer %>